<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Covid Cases By Neiborhood</title>
  <meta name="author" content="Taran and Amelia">
  <meta name="description" content="Covid Data in NYC">
  <link rel = "stylesheet" href = "../css/styles.css">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
</head>

<body>
  <%- include('../src/views/partials/navbar.ejs') -%>

  <header>
    <h1>Covid Cases By Neighborhood</h1>
    <h5>By Amelia Dalvito and Taran Ramchandani</h5>
  </header>

  <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
  <div id='myDiv2'><!-- Plotly chart will be drawn inside this DIV --></div>

<script>
d3.csv('https://taranramchandani22.github.io/CovidByBorough/data/totalData.csv', function(err, rows){ //use an http link, /data and github file
      function unpack(rows, key) { // upack takes the row of data ans returns the value of a specific key in the row
          return rows.map(function(row) { return row[key]; });
      }
       var data = [{
            type: 'choropleth',
            locationmode:'geojson-id',
            locations: unpack(rows, 'zip'),
            featureidkey: "properties.zip",
            geojson:"https://raw.githubusercontent.com/TaranRamchandani22/CovidByBorough/main/data/mapData.geoJson",
            z: unpack(rows, 'caseRate'),//put what you want to return
            text: unpack(rows,'zip'),//fix
          //  autocolorscale: true
          colorscale: [
                [0,'rgb(5, 10, 172)'],[0.35,'rgb(40, 60, 190)'],
                [0.5,'rgb(70, 100, 245)'], [0.6,'rgb(90, 120, 245)'],
                [0.7,'rgb(106, 137, 247)'],[1,'rgb(220, 220, 220)']],
            autocolorscale: false,
            reversescale: true,
            marker: {
                line: {
                    color: 'rgb(180,180,180)',
                    width: 0.5
                }
            },
            tick0: 0,
            zmin: 0,
            dtick: 1000,
            colorbar: {
                autotic: false,
                tickprefix: '',
                title: 'Covid Case Rate'
            }
}];

var layout = {
  title: 'Covid Cases in Manhattan',
  geo: {
    fitbounds: "geojson",
        }
      };
      Plotly.newPlot("myDiv", data, layout, {showLink: false});
});
d3.csv('https://taranramchandani22.github.io/CovidByBorough/data/totalData.csv', function(err, rows){ //use an http link, /data and github file
      function unpack(rows, key) { // upack takes the row of data ans returns the value of a specific key in the row
          return rows.map(function(row) { return row[key]; });
      }
       var data = [{
            type: 'choropleth',
            locationmode:'geojson-id',
            locations: unpack(rows, 'zip'),
            featureidkey: "properties.zip",
            geojson:"https://raw.githubusercontent.com/TaranRamchandani22/CovidByBorough/main/data/mapData.geoJson",
            z: unpack(rows, 'allHouseholdIncome'),//put what you want to return
            text: unpack(rows,'zip'),//fix
          //  autocolorscale: true
          colorscale: [
                [0,'rgb(5, 10, 172)'],[0.35,'rgb(40, 60, 190)'],
                [0.5,'rgb(70, 100, 245)'], [0.6,'rgb(90, 120, 245)'],
                [0.7,'rgb(106, 137, 247)'],[1,'rgb(220, 220, 220)']],
            autocolorscale: false,
            reversescale: true,
            marker: {
                line: {
                    color: 'rgb(180,180,180)',
                    width: 0.5
                }
            },
            tick0: 0,
            zmin: 0,
            dtick: 1000,
            colorbar: {
                autotic: false,
                tickprefix: '$',
                title: 'Household Income'
            }
}];

var layout = {
  title: 'Household Income by Zipcode',
  geo: {
    fitbounds: "geojson",
        }
      };
      Plotly.newPlot("myDiv2", data, layout, {showLink: false});
});
</script>
<h2>Data Table:</h2>

<section id="charcter-table">
  <table>
 <% for(let i=0; i<data.length; i++){ %>
    <tr>
        <td><%= data[i].zip %></td>
        <td><%= data[i].caseRate %></td>
        <td><%= data[i].vacinationRate %></td>
        <td><%= data[i].allHouseholdIncome %></td>
        <td><%= data[i].percentLatino %></td>
        <td><%= data[i].percentAsianNonHispanic %></td>
        <td><%= data[i].percentWhiteNonHispanic %></td>
        <td><%= data[i].percentOtherEthnicity %></td>
        <td><%= data[i].percentEthnicityUnkown %></td>
    </tr>
    <%}%>
  </table>
</section>
<h1>An Exploration of Covid and Vaccination Rates based of Zip Code Demographics</h1>
<h2>Our project name changed, among other things, since we started brainstorming for this project.
Instead of analyzing data by borough, we decided to focus just on Manhattan and divide zones based on zip code. We aimed to depict the effects, if any were found, of socioeconomic status and race on the progression of Covid 19
</h2>
<h2>Data Summary:</h2>
  <ol>
    <p>Because some of our data was hard to find and was limited in terms of sample size, the race demogrphics were hard to analyze, though there may be some correlation</p>
  <p>We noticed that there was a slight correlation between households making more annual income and a higher vaccination rate in a certain Zip code</p>
    <p>This data was taken from November, so some data, such as ANNUAL data, may line up differently with Covid data which is being taken virtually every hour. This is important to note, escpecially this year, because many households' income was impacted in recent months. </p>
  </ol>

  <%- include('../src/views/partials/footer.ejs') -%>
</body>

</html>
